*
!*/
/.vim/**
#zsh
!.zshenv
!.zshrc
!.inputrc

!.tmux.conf
!osx.sh
!karabiner.json
!kitty.conf
!coc-settings.json
!.vimrc
!.ideavimrc
!.gitmux.conf
!.gitignore
!.stow-local-ignore
!.com.googlecode.iterm2.plist
!.gitconfig
!config.el
!init.el
!init.lua


