set multiple-cursors
set surround
set commentary
set argtextobj
set textobj-entire
set ReplaceWithRegister

set number
set relativenumber  
set incsearch hlsearch
set ignorecase smartcase
set matchpairs+=<:>
let mapleader = " "
nnoremap <leader><esc> :nohls<cr>

change multiple cursor shortcuts
map <C-N>  <A-N>
map <C-P>  <A-P>
map <C-X>  <A-X>
map g<C-N> g<A-N>
"
" Integrate with system clipboard
set clipboard=unnamedplus,unnamed
set ideastatusicon
" more consistant with how C and D work
nnoremap Y y$

nmap <leader>f. :action ShowNavBar <cr>
nmap <leader>fr :action RecentFiles <cr>
nmap <leader>h :action ShowErrorDescription <cr>
nmap <leader>cf :action ReformatWithPrettierAction <cr>
nnoremap <leader>re :action RenameElement<cr>
nnoremap <leader>rf :action RenameFile<cr>
nmap [e :action GotoPreviousError <cr>
nmap ]e :action GotoNextError <cr>
nmap [q :action GotoPreviousError <cr>
nmap ]q :action GotoNextError <cr>
nnoremap [g :action VcsShowPrevChangeMarker<cr>
nnoremap ]g :action VcsShowNextChangeMarker<cr>

" Window management
nnoremap <leader>ws  :split<CR>
nnoremap <leader>wv :vsplit<CR>
nnoremap <leader>wo :action Unsplit<CR>
nnoremap <leader>ww <c-w><c-w>
